<a href="https://colab.research.google.com/github/kssanmay8-droid/ict_assignments/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def find_max_builtin(a,b,c):
  return max(a,b,c)
print(find_max_builtin(10,5,20))

20

In [5]:
def sum_list_builtin(numbers):
  Total =0
  for x in  numbers:
   total +=x
  return total
number =[18,12,30,10,7]
print(sum(number))

77

In [12]:
my_list = [10, 20, 40, 50]
print(f"Original List: {my_list}")
number_to_insert = int(input("Enter the number you want to insert: "))
position = int(input(f"Enter the position (0-{len(my_list)}) to insert the number: "))
my_list.insert(position, number_to_insert)
print(f"Updated List: {my_list}")

Original List: [10, 20, 40, 50]
Enter the number you want to insert: 60
Enter the position (0-4) to insert the number: 4
Updated List: [10, 20, 40, 50, 60]

In [8]:
sample_dict  = { "name": "Kelly", "age": 25, "salary": 8000, "city": "New york"}
city_value = sample_dict.pop("city")
sample_dict["location"] = city_value
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [10]:
sample_dict = {
 'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 500}}
sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [13]:

tuple1 = (50, 10, 60, 70, 50, 83, 567, 50, 81)
count = tuple1.count(50)
print(count)

3

In [15]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:5]
print(f"Original tuple: {tuple1}")
print(f"New tuple with elements 44 and 55: {tuple2}")

Original tuple: (11, 22, 33, 44, 55, 66)
New tuple with elements 44 and 55: (44, 55)